{% extends 'main.html' %}
{% load static %}


{% block extend_head %}
<title>Trip Management Dashboard</title>
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}
<div class="row">
  <div class="col-lg-7">
    <!-- Form Basic -->
    <div class="card mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Register School-Bus Details</h6>
      </div>
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlInput1">Car Plate Number:</label>
            <input type="text" class="form-control" name="plate_no"
              placeholder="eg. T398DGD" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Driver Assigned:</label>
            <select class="form-control" name="driver">
              <option> --- </option>
              {% for drv in drivers %}
                <option value="{{ drv }}">{{ drv }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect3">Attendant Assigned:</label>
            <select class="form-control" name="attendant">
              <option> --- </option>
              {% for ats in attendants %}
                <option value="{{ ats }}">{{ ats }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput4">Capacity:</label>
            <input type="integer" class="form-control" name="capacity"
              placeholder="38" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect5">Bus Current State:</label>
            <select class="form-control" name="state" required>
              <option> --- </option>
              <option>Parking</option>
              <option>On-Route</option>
              <option>Garage</option>
            </select>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extend_footer %}

{% endblock %}
