{% extends 'main.html' %}
{% load static %}


{% block extend_head %}
<title>Trip Management Dashboard</title>
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}
<div class="row mb-3">
            
  <!-- Added buttons -->
  
  <div class="col-lg-12">
    <div class="card mb-4">
      <div class="table-responsive p-3">
        <table class="table align-items-center table-flush table-hover" id="dataTableHover">
          <thead class="thead-light">
            <tr>
              <th>Plate_No</th>
              <th>Driver </th>
              <th>Attendant</th>
              <th>Capacity</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot>
          </tfoot>
          <tbody>
            {% for bs in busses %}
            <tr>
              <td>{{ bs.plate_no }}</td>
              <td>{{ bs.driver_assigned }}</td>
              <td>{{ bs.attendant_assigned }}</td>
              <td>{{ bs.capacity }}</td>
              <td>{{ bs.current_address }}</td>
              <td>
                <a href="javascript:void(1);" data-toggle="modal" data-target="#editModal" class="btn btn-info btn-sm">
                  Upd <i class="fas fa-info-circle"></i>
                </a>
                <a href="javascript:void(2);" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-sm">
                  Del <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block extend_footer %}
<!-- Modal Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabelEdit">Update Bus Details!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card-body">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlInput1">Plate_No:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
              placeholder="T736CDG" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Driver Assigned:</label>
            <select class="form-control" id="exampleFormControlSelect2">
              <option> --- </option>
              <option>Obby Driver 1</option>
              <option>Obby Driver 2</option>
              <option>Obby Driver 3</option>
              <option>Obby Driver 4</option>
              <option>Obby Driver 5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect3">Attendant Assigned:</label>
            <select class="form-control" id="exampleFormControlSelect3">
              <option> --- </option>
              <option>Obby Attendant 1</option>
              <option>Obby Attendant 2</option>
              <option>Obby Attendant 3</option>
              <option>Obby Attendant 4</option>
              <option>Obby Attendant 5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput4">Capacity:</label>
            <input type="text" class="form-control" id="exampleFormControlInput4"
              placeholder="32">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect5">Bus Current State:</label>
            <select class="form-control" id="exampleFormControlSelect5">
              <option> --- </option>
              <option>Available for work</option>
              <option>On route</option>
              <option>Garage</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
      <a href="#" class="btn btn-primary">Update</a>
    </div>
  </div>
</div>
</div>
<!-- End modal Edit -->

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabeldelete"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabeldelete">Check Info Again!!</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this data?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
      <a href="#" class="btn btn-danger">Delete</a>
    </div>
  </div>
</div>
</div>
<!-- End modal Delete -->

<script>
  $(document).ready(function () {
    $('#dataTable').DataTable(); // ID From dataTable 
    $('#dataTableHover').DataTable(); // ID From dataTable with Hover
  });
</script>

{% endblock %}
